body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.header {
  background-color: rgb(2, 36, 87);
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: aliceblue;
  text-decoration: none;
}
.nav-link a:hover {
  color: rgb(232, 198, 148);
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  padding: 20px;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.span-bold {
  font-weight: 700;
}
.footer {
  background-color: rgb(214, 214, 214);
  padding: 20px;
}
h1 {
  font-weight: 700;
  color: grey;
}
